* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #FFF;
  --bg-color-dark: #121214;

  --svg-fill-normal: white ; 

  --bg-button-normal: #E1E1E6;
  --bg-button-dark: #29292E;
  --bg-button-selected: #02799D;
  --text-color: #323238;
  --text-color-dark: #FFF;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20rem auto;
  transition: background 0.5s linear;
}


.container {
position: absolute;
right: 5rem;
top: 4rem;
}

span {
  font-family: 'Roboto';
  font-size: 12.5rem;
  line-height: 14.8rem;
  color: var(--text-color);
}

button {
  border: transparent;
  background: none;
  cursor: pointer;
}

.options button {
  background: var(--bg-button-normal);
  border-radius: 24px;
  width: 13.8rem;
  height: 15.2rem;
}

.options .selected {
  background-color: #02799D;
}

.selected svg path {
  fill: #FFF;
}


.hide {
  display: none;
}



.page {
  display: flex;
  gap: 19.2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem
}


@media (max-width: 830px) {

  .page {
  flex-direction: column;
  gap: 10rem;
}

.options {
  align-self: center;
}


}

body.dark {
  background-color: var(--bg-color-dark);
}

.options button.dark {
  background: var(--bg-button-dark);
  border-radius: 24px;
  width: 13.8rem;
  height: 15.2rem;
}

span.dark {
  color: #fff;
}